{%extends'base.html'%}

{%block content%}
<br>
<div class="container">
<div class="grad">
   {%if user:%}
    <h3>hello {{user}}</h3>
    <hr>
<table class="table">
    <thead>
  <tr>
    <th>موضوع</th>
    <th>تاریخ</th>
      <th>زمان</th>
      <th>زمان ثبت</th>
      <th> جزئیات</th>
  </tr>
  </thead>
      {% endif %}

<tbody>
       <tr>
        <td>
                    {{subject.subject}}
        </td>
        <td>
                   {{subject.date}}
        </td>
        <td>
           {{subject.time}}
        </td>
        <td>
           {{subject.t}}
        </td>
           <td>
           {{subject.details}}
        </td>
        <td>
<!--           <a href="/delete" type="button" class="btn btn-outline-info">done</a>-->
            <a href="{{url_for('delete',post_id=subject.id)}}" class="btn btn-danger" style="float: right;">done</a>
        </td>
    </tr>
    </tbody>
</table>

</div>

{%if user:%}
    <br><br>
    <a href="/" type="button" class="btn btn-outline-danger">back</a>
    {%else:%}
    <center>
    <br><br>
           <a class="btn btn-outline-info" href="/login" role="button">login</a>
       <a class="btn btn-outline-info" href="/Register" role="button">Register</a>

    {%endif%}
</center>
    </div>
{%endblock%}